<table class='table'>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= image_tag customer.image, size: '50x50' if customer.image.present? %></td>
        <td><%= customer.customer_name %></td>
        <td><%= button_to "強制退会", registration_path(customer), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></td>
      </tr>
      <% end %>
  </tbody>
</table>
