<% if admin_signed_in? %>
<table class='table'>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td>
          <% if customer.image.present? %>
            <%= image_tag customer.image, size: '50x50' %>
          <% else %>
            <%= image_tag 'no_image.jpg', size: '50x50' %>
          <% end %>
        </td>
        <td><%= customer.customer_name %></td>
        <td><%= button_to "Destroy", admin_customer_path(customer.id), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
