<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto text-center">
      <h1 class="mb-5">Welcome to our SNS for guitar enthusiasts!</h1>
      <p class="lead">Whether you're a beginner or a seasoned pro, our community is the perfect place to connect with other guitarists, share your favorite gear and pedals, and discover new techniques and sounds.</p>
      <p class="lead">Join now and start exploring!</p>
      <a class="btn btn-primary btn-lg" href="/public/posts">Join now</a>
    </div>
  </div>
</div>