<% if obj.errors.any? %>
  <div id="error_explanation" class="text-danger">
    <h3><%= t("errors.template.header", model: obj.model_name.human, count: obj.errors.count) %></h3>
    <ul>
      <% obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
